@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 160deg 100% 37%;

    --color-black: #181818;
    --color-black-soft: #222222;
    --color-black-mute: #282828;

    --color-white: #ffffff;
    --color-white-soft: #f8f8f8;
    --color-white-mute: #f2f2f2;

    --color-energetic: #fcd34d;
    --color-melancholic: #0891b2;
    --color-relaxing: #4ade80;
    --color-upbeat: #ef4444;
    --color-uplifting: #a855f7;
    --color-love: #be185d;
    --color-thoughtful: #581c87;
  }
}

@layer components {
  .av-bar-container {
    @apply w-full fixed right-0 bottom-0 flex justify-center items-end
  }
}
